@import '../_partials/variables';

body {
	background-color: $color-background;
	color: $color-font-main;
	font-family: $font-main;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	font-variation-settings: var(--font-variation-settings);
	font-feature-settings: var(--font-feature-settings);
	letter-spacing: 0.02em;
}

h1 {
	font-size: $font-header-size;
	line-height: $font-line-height;

	input {
		max-width: 100%;
		width: 100%;
		background-color: $color-background;
	}
}

[role="main"],
[role="contentinfo"] {
	width: 100%;
	max-width: $dim-container-width;
	margin: 0 auto;
}

fieldset {
	padding: 10px 10px 20px;
}

.console {
	//position: relative;
	width: 100%;

	//.console-content {
	//	position: relative;
	//	z-index: 1;
	//	left: $dim-settings-button;
	//	width: calc(100% - (2* #{$dim-settings-button}));
	//	transition: left #{$transition-duration} #{$transition-timing-function};
    //
	//	&.open {
	//		left: 25%;
	//	}
	//}
}

.settings-wrapper {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 250px;
	height: auto;
	background-color: $color-background;
	font-variation-settings: normal;
	font-feature-settings: normal;
	z-index: 0;
	box-shadow: 0 0 0 1px #adadad;
}

.font-settings {
	display: none;
	
	&.selected {
		display: block;
	}
}

.hljs-keyword, 
.hljs-attribute, 
.hljs-selector-tag, 
.hljs-meta-keyword, 
.hljs-doctag, 
.hljs-name,
.hljs-title, 
.hljs-section,
strong,
b {
	font-weight: normal;
	font-variation-settings: var(--font-variation-settings-bold);
}
	
